.yuansu{
    width: 90%;
    background-color: #385170;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.img{

    width: 90%;
    border-radius: 20px;
}

.liebiao{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: #142d4c;
}

h1{
    color: #9fd3c7;
}

p{
    color: #ececec;
}

h3{
    color: #ececec;
}